.buttn{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 15px 0px 33px;
  background-color: #aaa;
}
nav li{
    display: inline-block;
    margin-top: 20px !important;
}

nav a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 20px;
    background-color: #777;
    color: whitesmoke;
}

nav a:hover{
    background-color: #333;
    color: white;
}

Button a{
    color: whitesmoke;
    text-decoration: none;
}

Button a:hover{
    color: white;
}

.samPage{
    background-color: antiquewhite;
    height: 85.3vh;
    box-sizing: border-box !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.samCont{
  display: inline-block;
  padding: 5px 15px;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

.phoCo{
  color: rgb(130, 130, 250);
}

.phoCo:hover{
  cursor: pointer;
  color: blue;
}
  
  